<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

	{{{ body }}}

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>