<!-- Nav bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="views/about.html">About Me</a>
					</li>
					<li>
						<a href="views/work.html">Professional Projects</a>
					</li>
					<li>
						<a href="views/about.html">Personal Projects</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
				    <ul class="dropdown-menu">
			        <li>
		            <a href="https://github.com/donghoonkim1226" target="blank">
                  <img class="social-icon" src="static/images/github_icon.png"> - Github
                </a>
			        </li>
			        <li>
			          <a href="https://www.linkedin.com/in/dong-hoon-kim-514586108" target="blank">
                  <img class="social-icon" src="static/images/linkedin_icon.png"> - Linkedin
                </a>
			        </li>
			        <li>
                <a href="https://www.facebook.com/dong.h.kim.980" target="blank">
                  <img class="social-icon" src="static/images/facebook_icon.png"> - Facebook
                </a>
			        </li>
			        <li>
		            <a href="https://twitter.com/donghoonnn" target="blank">
                  <img class="social-icon" src="static/images/twitter_icon.png"> - Twitter
                </a>
			        </li>
				    </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>